@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;

    color-scheme: light dark;

    --app-header-height: 56px;
    --navbar-width: 56px;
    --left-sidebar-width: 320px;
    --right-sidebar-width: 520px;
}

.custom-scrollbar {
    scrollbar-gutter: stable;
    scrollbar-color: grey transparent;
    /*scrollbar-width: thin;*/
}

.icon-wrapper {
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    cursor: pointer;
}